/* proprietà generali di base */

*{
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family:'Roboto', 'Arial Narrow', Arial, sans-serif
}

li a{
    text-decoration: none;
    color: white;
}

.container, #container-main{
    margin: 0 auto;
    width: 80%;
}

#container-main{
    padding-top: 60px;
}

/* proprietà generali barra di navigazione */

header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 900;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#navbar{
    height: 60px;
    background-color: #FF6900;
    color: white;
}

ul {
    display: flex;
    align-items: center;
    padding: 0;
}

/* definizione colonne della barra di navigazione */
.col-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    /* width: 25%; */
    /* height: 30px; */
    line-height: 30px;
    /* background-color:goldenrod; */
    /* border: 1px black solid; */
    margin: 13px 0;
    font-weight: 500;
}

/* proprietà liste */
div.consumer > ul li a, div.icons > ul li a, div.info > ul li a {
    margin: 0 10px 0 0;
    font-size: 13px;
}

/* definizione logo barra di navigazione */
.center img{
    width: 15%;
}

/* prorpietà parte centrale */

.card-container{
    margin: 50px 0;
}
.row{
    display: flex;
    /* background-color: yellow; */
    /* width: 100%; */
    /* height: 100%; */
    margin: 10px 0;
}

.row-text {
    display: flex;
    /* background-color: yellow; */
    /* width: 100%; */
    /* height: 100%; */
    margin: 10px 0;
}

.text-box{
    display: flex;
    width: 33%;
    height: 50px;
    background-color: yellow;
    margin: 0 10px 20px 10px; 
}

.card{
    display: flex;
    margin: 0 10px;
    width: 33%;
    min-height: 500px;
    background-color: #EBECE9;
}

.card img{
    width: 100%;
}

/* proprietà generali del footer */

.footer-content{
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
}

footer{
    color: white;
}
#footer-nav{
    background-color: #1A1A1A;
    height: 80px;
}

.copyright{
    display: flex;
    flex-direction:column;
    line-height: 30px;
}

.icon-social ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

