/* proprietà generali di base */

*{
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family:'Roboto', 'Arial Narrow', Arial, sans-serif
}

li a{
    text-decoration: none;
    color: white;
}

/* proprietà barra di navigazione */
.container-nav{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar{
    height: 60px;
    background-color: #FF6900;
    color: white;
}

/* definizione colonne della barra di navigazione */
.col-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    width: 25%;
    height: 30px;
    background-color:goldenrod;
    border: 1px black solid;
    margin: 10px 0;
}

.center{
    width: 50%;
    padding: 0;
}

div.consumer ul, div.icons ul{
    display: flex;
    align-items: center;
    color: black;
    padding: 0;
}

.consumer ul li a, .icons ul li a {
    margin: 0 10px;
}

